body{
  margin: 0;
  background: #111;
  color: #ccc;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

h1{
  font-size: 50px;
  margin-left: 50px;
}

h1 span{
  color: lawngreen;
}

#status{
  display: none;
}

.counter-flex{
  position: absolute;
  top:20vh;
  width:50vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

canvas{
  position: absolute;
  top:20vh;
  right: 10vw;
  box-shadow: 0 0 20px #000;
}

#counter{
  font-size: 50px !important;
  font-weight: 900;
  color: #777;
}

#sarthak{
  color: lawngreen;
}

img{
  margin-top:10vh;
  box-shadow: 0 0 20px #000;
}


